.sessionslap-alert{
	position: fixed;
	z-index: 100000;
	top: 33px;
	left: 80%;
	width: 200px;
	color: #666 !important;
	text-shadow: 1px 1px 1px #E1E1E1;
	background: whitesmoke;
	padding: 5px 10px;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
	cursor:pointer;
	text-align:center;
}
	
.sessionslap-alert.sessionslap-success{
	box-shadow: 0px 0px 8px green;
}
	
.sessionslap-alert.sessionslap-error{
	box-shadow: 0px 0px 8px red;
}
	
.sessionslap-setting-row{
	margin: 15px;
}